
body {
  background-image: url('./images/wall2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

}

.nav-active {
  color: white;
  font-size: 30px;
 
}

.nav-bar {
  font-style: inherit;
  font-size: 20px;
  font-family: "Verdana, sans-serif";
  margin-top: 13px;
  background-color: rgb(248, 163, 36);
  padding: 11px;
  padding-top: 8px;
  opacity: 0.95;
  
}





